@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.welcome {
    margin-top: -230px;
    text-align: center;
}

h3 {
    text-align: center;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 50px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    width: 330px;
    background: #006bb3;
    color: #fff;
    transition: all 0.3s;
    border-radius: 20px;
    margin: 20px 0 20px 20px;
    position: relative;
}

#sidebar .sidebar-header {
    padding: 10px;
    background: #006bb3;
    border-bottom: 1px solid #008ae6;
    border-radius: 20px;
}

.sidebar-header h3 {
    text-align: center;
}

.sidebar-components {
    padding-left: 0px;
    list-style: none;
    padding-bottom: 50px;
}

.sidebar-footer {
    height: 30px;
    min-width: 100%;
    border-top: 1px solid #008ae6;
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    padding-left: 100px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    font-size: 120%;
}

#sidebar ul li a:hover {
    color: #008ae6;
    background: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: relative;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 1em !important;
    padding-left: 30px !important;
    background: #008ae6;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

.crop {
    width: 100%;
    height: 100%;
    max-height: 904px;
    overflow: hidden;
    border-radius: 20px;
}

.crop img {
    width: 100%;
    height: 100%;
    max-height: 904px;
    margin: -250px 0 -330px 0;
    border-radius: 20px;
}

/* ---------------------------------------------------
    CONTACT
----------------------------------------------------- */

.row {
    text-align: center;
}

.col button {
    background: none;
    color: #008ae6;
    border: 0;
}

.col button:hover {
    transform: scale3d(1.2, 1.2, 1); 
    -webkit-transform: scale3d(1.2, 1.2, 1); 
    transition: all 0.35s cubic-bezier(0.000, 1.270, 0.460, 1.650); 
    -webkit-transition: all 0.35s cubic-bezier(0.000, 1.270, 0.460, 1.650); }

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {


    #sidebar {
        flex-wrap: wrap;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    .crop img {
        
    }
}