@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1e1e1e;
    color: #fff;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.welcome {
    margin-top: -230px;
    text-align: center;
}

h3 {
    text-align: center;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #555;
    margin: 50px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    width: 330px;
    background: #293241;
    color: #fff;
    transition: all 0.3s;
    border-radius: 20px;
    margin-right: 20px;
}

#sidebar.sidebar-expanded {
    width: 80px;
}

#sidebar.sidebar-expanded .sidebar-header {
    display: none;
}

#sidebar .sidebar-header {
    padding: 10px;
    background: #1c2331;
}

.sidebar-header h3 {
    text-align: center;
    color: #fff;
}

.sidebar-components {
    padding-left: 0px;
    list-style: none;
    padding-bottom: 50px;
}

.sidebar-footer {
    height: 30px;
    min-width: 100%;
    position: absolute;
    bottom: 0;
    padding-left: 100px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    font-size: 120%;
    color: #fff;
}

#sidebar ul li a:hover {
    color: #c9d6df;
    background: #1c2331;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: relative;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 1em !important;
    padding-left: 30px !important;
    background: #384f66;
}


/* ---------------------------------------------------
    SIDEBAR EFFECT
----------------------------------------------------- */

.sidebar-components ul.collapse {
    transition: max-height 0.8s ease-out;
    overflow: hidden;
    max-height: 1000px;
}

.sidebar-components ul.collapse:not(.show) {
    max-height: 0;
}
      
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    flex-grow: 1;
}

.crop {
    width: 100%;
    height: 100%;
    max-height: 904px;
    overflow: hidden;
    border-radius: 20px;
}

.crop img {
    width: 100%;
    height: 100%;
    max-height: 904px;
    margin: -250px 0 -330px 0;
    border-radius: 20px;
}

.content-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.content-image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 20px;
}

.description {
    text-align: center;
    margin-top: 20px; /* Add margin to separate the description from the image */
  }
  

/* ---------------------------------------------------
    CONTACT
----------------------------------------------------- */

.row {
    text-align: center;
}

.col button {
    background: none;
    color: #008ae6;
    border: 0;
}

.col button:hover {
    transform: scale3d(1.2, 1.2, 1); 
    -webkit-transform: scale3d(1.2, 1.2, 1); 
    transition: all 0.35s cubic-bezier(0.000, 1.270, 0.460, 1.650); 
    -webkit-transition: all 0.35s cubic-bezier(0.000, 1.270, 0.460, 1.650); 
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {

    .wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    #sidebar {
        min-width: 200px;
        margin-right: 20px;
    }
    
    #sidebar.active {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }

    .crop img {
        height: 50%;
    }

    .welcome {
        margin-top: -450px;
        text-align: center;
    }
}

@media (max-width: 250px) {

    #sidebar {
        border-radius: 10px;
        margin: 20px 0 20px 20px;
        font-size: 0.6rem;  
    }

    .crop img {
        display: none;
    }

    .col button {
        padding-bottom: 20px;
    }
    
}
